<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/component/layout :: head"><title>#</title></head>
<body>
<nav th:replace="/component/layout :: navbar"></nav>
<div class="container-fluid col-12">
    <div class="row">
        <div th:replace="/component/layout :: sidebar"></div>
        <div th:object="${post}" class="card container-fluid col-10 mt-5 float-left">
            <img th:src="*{image}" th:alt="*{title}" class="card-img-top" src="" alt="">
            <div class="card-body">
                <h5 th:text="*{title}" class="card-title">Card title</h5>
                <p th:text="'Danh mục: ' + ${post.category}" class="card-text h6"></p>
                <p th:text="*{postTime}" class="card-text post-time"></p>
                <pre th:text="*{content}" class="card-text --font-family-sans-serif"></pre>
                <div class="d-inline-flex justify-content-around col-12">
                    <a th:href="@{/post/edit/__${post.id}__}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/post/delete/__${post.id}__}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <footer th:replace="/component/layout :: footer"></footer>
    </div>
</div>
<script th:replace="/component/layout :: script"></script>
<script>
    let postTimeNode = document.querySelector(".post-time");
    let momentObj = moment(postTimeNode.innerHTML, moment.ISO_8601);
    let dateFormat = momentObj.format("[Ngày đăng:] dddd, DD/MM/YYYY hh:mm:ss a");
    postTimeNode.innerHTML = dateFormat;
</script>
</body>
</html>